
/*--------------------------------------------------------------
# subtop
--------------------------------------------------------------*/
.top_img{
    background-color: #176ea0;
    position: relative;
    width: 100%;
    height: 160px;
    background-position: center 0;
    background-repeat: no-repeat;
}

  
.top_img.sub01{
     background-image: url('https://cdn.imweb.me/thumbnail/20211220/463db52dcb5cd.jpg'); 
    background-color: #964b00;
}


.top_img.sub02{
     background-image: url('https://cdn.imweb.me/thumbnail/20211220/463db52dcb5cd.jpg'); 
    background-color: #964b00;
}
.top_img.sub03{
    background-image:url('https://cdn.imweb.me/thumbnail/20211220/463db52dcb5cd.jpg'); 
    background-color: #964b00;
}
.top_img.sub04{
     background-image: url('https://cdn.imweb.me/thumbnail/20211220/463db52dcb5cd.jpg');  
    background-color: #964b00;
}
.top_img.sub05{
     background-image: url('https://cdn.imweb.me/thumbnail/20211220/463db52dcb5cd.jpg'); 
    background-color: #964b00;
}
.top_img.sub06{
   background-image: url('https://cdn.imweb.me/thumbnail/20211220/463db52dcb5cd.jpg'); 
    background-color: #964b00;
}
.top_img.sub07{
    background-image: url('https://cdn.imweb.me/thumbnail/20211220/463db52dcb5cd.jpg'); 
    background-color: #964b00;
}
.top_img.sub08{
    background-image: url('/images/mainimages/Ä¿ÇÇ.jpg'); 
    background-color: #964b00;
}
