<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/board3}">


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Impact Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Template Main CSS File -->
    <link href="/assets/css/header.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/side.css" />

    <!--    Jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
 


    <!-- =======================================================
  * Template Name: Impact - v1.0.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/js/side.js"></script>
    <style>
        .tab-content label {
            margin: 30px;

        }

        .tab-content input {
            margin: 10px;
        }
        
        .subbutton {
            text-align: center;
        }
        
        .content {
    		/* margin: 0 40px; */
   			 width: 90%;
		}

    </style>
</head>

<body>
<div layout:fragment="subtop">
  <div class="top_img sub03"></div>
</div>
<div layout:fragment="side">
					<div class="inner">

							 <!-- Menu -->
                        <nav id="menu">
                           <header class="major">
                              <h2>경제교육</h2>
                           </header>
                           <ul>
                              <li>
                                 <span class="opener" >교사용수업자료</span>
                                 <ul>
                                    <li><a href="http://localhost:8090/board/economy/economy_list">PBL 경제교육 시리즈</a></li>
                                    <li><a href="https://eiec.kdi.re.kr/material/ecoEduList.do">경제교육 표준교재</a></li>
                                    <li><a href="https://eiec.kdi.re.kr/material/lifeList.do">생애주기별 경제교육</a></li>
                                    
                                 </ul>
                              </li>
                              <li>
                                 <span class="opener">멀티미디어자료</span>
                                 <ul>
                                    <li><a href="https://eiec.kdi.re.kr/material/qnaList.do">경제, 이것이 궁금해요</a></li>
                                    <li><a href="https://eiec.kdi.re.kr/material/echannList.do">지식채널 e</a></li>
                                    <li><a href="https://eiec.kdi.re.kr/material/webtoonList.do">경제웹툰</a></li>
                                    <li><a href="https://eiec.kdi.re.kr/material/cardNewsList.do">카드뉴스</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <span class="opener">학습자료</span>
                                 <ul>
                                    <li><a href="https://eiec.kdi.re.kr/material/pageoneList.do">경제로 세상 읽기</a></li>
                                    <li><a href="https://eiec.kdi.re.kr/material/conceptList.do">경제개념</a></li>
                                    <li><a href="https://eiec.kdi.re.kr/material/ecoQueList.do">경제 백문백답</a></li>
                                    
                                 </ul>
                              </li>
                              <li>
                                 <span><a href="https://eiec.kdi.re.kr/material/ecoProgram.do">교육프로그램</a></span>
                                 
                              </li>
                              <li>
                                 <span><a href="https://eiec.kdi.re.kr/material/clickList.do">click 경제교육</a></span>
                              
                              </li>
                              <li>
                                 <span><a href="https://eiec.kdi.re.kr/material/wordDic.do">시사용어사전</a></span>
                                 
                              </li>
                              <li>
                                 <span><a href="https://eiec.kdi.re.kr/material/textbookList.do">경제교과서검정</a></span>
                                 
                              </li>
                              
                              
                           </ul>
                        </nav>
                        </div>
                        
                        <!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/main.js"></script>
			<script src="/assets/js/side.js"></script>
</div>
<div layout:fragment="content">

	 <div class="containers">
      <h3>게시판 등록</h3>
      <form action="/board/economy/economy_write/action" method="post" enctype="multipart/form-data">
         <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" class="form-control" name="title">
         </div>

         <div class="mb-3"  >
            <label class="form-label">내용</label>
            <textarea class="form-control" name="content">
            </textarea>
         </div>
        
         
         <div class="form-group row">
          <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부 파일</strong></label>
          <div class="col-sm-10">
            <div class="custom-file" id="inputFile">
              <input name="file" type="file" class="custom-file-input" id="customFile" />
              <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
            </div>
           </div>
           
          <label for="inputFile" class="col-sm-2 col-form-label"><strong>첨부 이미지 파일</strong></label> 
          <div class="col-sm-10">
          <div>
             
               <input type="file" name="economyimage" class="custom-file-input" multiple="multiple"/>
               <label class="custom-file-label" for="customFile">파일을 선택해 주세요.</label>
          </div> 
         </div>
        </div> 
        
        <div class="subbutton">
         <button type="button" class="btn btn-success" onclick="javascript:location.href='/board/economy/economy_list'">이전</button>
         <button type="submit" class="btn btn-primary">제출</button>
        </div>    
      </form>
   </div>
   <br><br>
   <script src="/js/lib/jquery.min.js"></script>
   <script src="/js/lib/bootstrap.min.js"></script>

  
   <script>
      $('.custom-file-input').on('change', function () {
        var fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
      });
    </script>
  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
  
</div>
</body>
</html>