<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main}">
<head>
<meta charset="UTF-8">
<title>QnA게시판</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- 부트스트랩 css 추가 -->
<!-- <link rel="stylesheet" href="/css/lib/bootstrap.min.css"> -->
<th:block layout:fragment="css">
	<style>
		.fieldError {
			color: #bd2130;
		}
		
		.innerContent {
			max-width: 50%;
			min-width: 400px;
			margin: auto;
		}
		
		.title {
			color: white;
			background: linear-gradient(to right, #61b6b2 80%, #103c7e);
			text-align: center;
			border: 3px solid black;
			max-width: 700px;
			min-width: 400px;
			font-size: 2.0em;
			font-weight: bold;
			margin: auto;
			border-radius: 10px 10px 10px 10px;
			}
		
		.container {
			margin-top: 50px;
		}
		
		.my-33 {
			float: right;
			margin-top: 20px;
		}
		
		.btBox {
			margin: auto;
			text-align: center;
		}
</style>
</th:block>


</head>
<body>
	<th:block layout:fragment="content">
		<div class="container">
		<br>
		<br>
		<p class="title">Q&A 게시글</p>
		<br>
			<div class="mb-3">








				<!-- 질문 -->
				<h2 class="border-bottom py-2" th:text="${question2.subject}"></h2>
				<div class="card my-3">
					<div class="card-body">
						<div class="card-text" style="white-space: pre-line;"
							th:text="${question2.content}"></div>
						<div class="d-flex justify-content-end">
							<div th:if="${question2.modifyDate != null}"
								class="badge bg-light text-dark p-2 text-start mx-3">
								<div class="mb-2">수정시간</div>
								<div
									th:text="${#temporals.format(question2.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
							</div>
							<div class="badge bg-light text-dark p-2 text-start">


								<div class="mb-2">
									<span th:if="${question2.author != null}"
										th:text="${question2.author.email}"></span>
								</div>

								<div
									th:text="${#temporals.format(question2.createDate, 'yyyy-MM-dd HH:mm')}"></div>
							</div>
						</div>

						<div class="my-33" sec:authorize="hasAnyAuthority('ROLE_USER')">
							<a th:href="@{|/question2/modify/${question2.id}|}"
								class="btn btn-sm btn-outline-secondary"
								sec:authorize="isAuthenticated()"
								th:if="${#authentication.name == question2.author.email}"
								th:text="수정"></a>
								
								 <a href="javascript:void(0);"
								th:data-uri="@{|/question2/delete/${question2.id}|}"
								class="delete btn btn-sm btn-outline-secondary"
								sec:authorize="isAuthenticated()"
								th:if="${#authentication.name == question2.author.email}"
								th:text="삭제"></a>
						</div>

						<div class="my-33" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
							<a th:href="@{|/question2/modify/${question2.id}|}"
								class="btn btn-sm btn-outline-secondary"
								sec:authorize="isAuthenticated()"
								
								th:text="수정"></a>
								
								 <a href="javascript:void(0);"
								th:data-uri="@{|/question2/delete/${question2.id}|}"
								class="delete btn btn-sm btn-outline-secondary"
								sec:authorize="isAuthenticated()"
								
								th:text="삭제"></a>
								
						</div>

					</div>
				</div>
				<!-- 답변의 갯수 표시 -->
				<h5 class="border-bottom my-3 py-2"
					th:text="|${#lists.size(question2.answer2List)}개의 답변이 있습니다.|"></h5>
				<!-- 답변 반복 시작 -->
				<div class="card my-3" th:each="answer2 : ${question2.answer2List}">
					<div class="card-body">
						<div class="card-text" style="white-space: pre-line;"
							th:text="${answer2.content}"></div>
						<div class="d-flex justify-content-end">

							<div th:if="${answer2.modifyDate != null}"
								class="badge bg-light text-dark p-2 text-start mx-3">
								<div class="mb-2">수정시간</div>
								<div
									th:text="${#temporals.format(answer2.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
							</div>

							<div class="badge bg-light text-dark p-2 text-start">

								<div class="mb-2">
									<span th:if="${answer2.author != null}"
										th:text="${answer2.author.email}"></span>
								</div>

								<div
									th:text="${#temporals.format(answer2.createDate, 'yyyy-MM-dd HH:mm')}"></div>
							</div>
						</div>

						<div class="my-33">
							<a th:href="@{|/answer2/modify/${answer2.id}|}"
								class="btn btn-sm btn-outline-secondary"
								sec:authorize="isAuthenticated()"
								th:if="${#authentication.name == answer2.author.email}"
								th:text="수정"></a> <a href="javascript:void(0);"
								th:data-uri="@{|/answer2/delete/${answer2.id}|}"
								class="delete btn btn-sm btn-outline-secondary"
								sec:authorize="isAuthenticated()"
								th:if="${#authentication.name == answer2.author.email}"
								th:text="삭제"></a>
						</div>

					</div>
					
				</div>
				<!-- 답변 반복 끝  -->
				<!-- 답변 작성 -->
				<form th:action="@{|/answer2/create/${question2.id}|}" method="post"
					class="my-3">
					<textarea name="content" id="content" rows="10"
						class="form-control"></textarea>
					<div class="btBox">
						<input type="submit" value="답변등록" sec:authorize="isAuthenticated()"
							class="btn btn-primary my-2">
					</div>
				</form>
			</div>
			<script layout:fragment="script" type='text/javascript'>
				const delete_elements = document
						.getElementsByClassName("delete");
				Array.from(delete_elements).forEach(function(element) {
					element.addEventListener('click', function() {
						if (confirm("정말로 삭제하시겠습니까?")) {
							location.href = this.dataset.uri;
						}
						;
					});
				});
			</script>
		</div>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</th:block>
</body>
</html>