<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Impact Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/quick.css" rel="stylesheet">
</head>

<body th:fragment="quick">


<div class="icon-boxes">
          
                <h1 class = "hot"><a href="https://eiec.kdi.re.kr/issue/hotList.do"  class="stretched-link"> </a>핫이슈</h1>
           

            <div class="icon-box1">
                <div class="text">
                    <h1 class="title"><a href="https://eiec.kdi.re.kr/issue/hotView.do?num=70" class="stretched-link"><strong>스마트 팩토리(Smart Factory)</strong></a></h1>
                </div>
                <div class="image">
                    <img src="https://eiec.kdi.re.kr/userdata/epic_issue/banner_aaaR68KZVHXwubxXChh8x20220224152524ctesv.png">
                </div>

            </div>



            <div class="icon-box2">
                <div class="text">
                    <h1 class="title"><a href="https://eiec.kdi.re.kr/issue/hotView.do?num=68" class="stretched-link"><strong>2022년 정부<br>부처 업무계획</strong></a></h1>
                </div>
                <div class="image">
                    <img src="https://eiec.kdi.re.kr/userdata/epic_issue/banner_aaaKtjqpwjzrv_3Y_BF4x20220117163950qpzdd.jpg">
                </div>

            </div>



            <div class="icon-box3">
                <h1 class="title"><a href="https://eiec.kdi.re.kr/material/wordDic.do" class="stretched-link"><img src="https://eiec.kdi.re.kr/res/sample/smp_banner03.png"></a></h1>

            </div>

        </div>

    <!-- ======= End quick ======= -->





    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>